.flex{
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

.table{
  border-bottom: 1px solid gray;
  text-align: center;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}
.table:hover{
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}
.rise{
  color: darkgreen;
}
.rise-bg{
  color: darkgreen;
  background-color: rgb(159, 203, 159);
  border-radius: 10px;
  padding: 3px;
}
.fall{
  color: brown;
}
.fall-bg{
  color: brown;
  background-color: rgb(215, 174, 174);
  border-radius: 10px;
  padding: 3px;
}

.tab{
  color: gray;
  padding: 3px;
}
.tab:hover{
  color: black;
  background-color: rgb(184, 184, 184);
  cursor: pointer;
}
.tab-active{
  border-bottom: 5px solid rgb(87, 132, 183);
  color:rgb(87, 132, 183);
}

.dot{
  vertical-align: super;
  font-weight: bold;
  font-size: 20px;
  margin-top:5px;
}
.item-40{
  width: 40%;
}
.item-20{
  width:15%
}


.p-5{
  padding: 5px;
}

.font-bold{
  font-weight: 600;
}
.text-white{
  color: white;
}
.text-gray{
  color: gray;
}
.text-left{
  text-align: left;
}
.font-small{
  font-size: 13px;
}
.font-title{
  font-size: 20px;
}
.font-large{
  font-size: 26px;
}

.main-row{
  height: 20px;
}

.sub-row{
  background-color: gray;
  border: 1px solid darkgray;
  text-align: center;
  height: 25px;
  padding: 5px;

  display: inline-block;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}
.sub-row-left{
  background-color: gray;
  border: 1px solid darkgray;
  text-align: center;
  height: 25px;
  padding: 5px;
}

.sub-row-2{
  display: block;
  height: 25px;
  padding: 5px;
  border: 1px solid darkgray;
}
.fill{
  background-color: red;
  text-align: center;
  height: 10px;
  margin: 7px 0;
}
.sub-row-2:nth-child(1){
  margin-top: 15px;
}
.p-x{
  padding:0 2px;
}